<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/inicio.css"></link>
    <title>Inicio</title>
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark navegador">
            <div class="container-fluid">
                <img src="https://static.wikia.nocookie.net/mairimashita-irumakun/images/8/87/Iruma-kun_Manga_Japones_Logo.webp/revision/latest?cb=20221211162216&path-prefix=es"
                    class="img-fluid" alt="logo" width="80px" height="80px" />
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="col-1" align="center">
                        <a href="/user/registro"><i class="fa-solid fa-user"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div>
            <h1>Bienvenidos a la escuela de demonios de Babyls</h1>
            <p>Aquí es donde se reúne todo el famdom que nos gusta mairimashita iruma-kun. Donde podremos intercambiar
                ideas, teorías, mangas, entre otras cosas.
                Inscríbete a la escuela de Babyrus, y diviértete con todas las locuras que hace la clase del Royal One
            </p>
            
        </div>
            <div class="row" >
                <div class="col order-last">
                    <div class="card">
                        <img src="https://i.ebayimg.com/images/g/9awAAOSwyOpjntE8/s-l1600.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                        <div class="card-body">
                          <h5 class="card-title">Actualizaciones de manga y anime</h5>
                          <p class="card-text">Ten los últimos volúmenes y episodios de mairimashita antes que nadie</p>

                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://i.pinimg.com/originals/32/24/27/322427f0c5cc2ff115699908b5872cf0.gif" class="card-img-top" alt="Fissure in Sandstone"/>
                        <div class="card-body">
                          <h5 class="card-title">Únete a los distintos bataros</h5>
                          <p class="card-text">Los bataron son lugares echos para poder aprender idioma, dibujo, animación,etc</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col order-first">
                    <div class="card">
                        <img src="https://img.wattpad.com/60b87e1652656bb3ad6c358185d3ad2e36f37876/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f49325235685a636b63576b654f673d3d2d363133372e313634353964366534653664613835633237373232313236323634372e676966" class="card-img-top" alt="Fissure in Sandstone"/>
                        <div class="card-body">
                          <h5 class="card-title">ATENCION</h5>
                          <p class="card-text">Solos los alumnos que estén matriculados en Babyrus podrán tener acceso a la escuela.
                            Para eso se ruega mandar un mail a la dirección de abajo para que nuestros amables profesores te registren
                            </p>
                      
                        </div>
                      </div>
                </div>
              </div>  
        
        <div class="d-grid">
            <button href="/login.html"type="submit" id="boton" class="btn btn-primary btn-lg btn-block">Ingresar</button>
        </div>
        
    </main>
    <footer class="text-center text-lg-start text-black">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row my-4">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                    <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                        style="width: 150px; height: 150px;">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Mairimashita_21_Iruma-kun_Wiki_L.png"
                            height="70" alt="" loading="lazy" />
                    </div>
                </div>
               
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Advertencia</h5>
                    <p>Todo aquel que no sea alumno, maestro o este autorizado para estar en el colegio serán eliminados
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Contact</h5>

                    <ul class="list-unstyled">
                            <p><i class="fas fa-envelope pe-2 mb-0"></i>contact@Babyrus.com</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright
        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>